<!DOCTYPE html>
<html lang="en" ng-app="galtycoonApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- build:css styles/main.css -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link href="styles/mystyles.css" rel="stylesheet"> -->
<!-- endbuild -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
</head>
<style>
#leftCol {
	background-color:lightgrey;
}
#rightCol {
	background-color:lightgrey;
}
#middle {
	border: 1px #eee solid;
}
.list-group-item {
	padding: 5px 15px;
}

#selectOutpost {
	padding:5px 0;
	margin-left:-15px
}
</style>
<body ng-controller="GalTycoonCtrl">
  
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<label>Date: </label><label id="theDate">0</label><br>
			<label>Balance: </label><label id="myBal">0</label><br>
			<button ng-click="startGDTimer()" class="btn-success btn-sm">Start</button>
			<button ng-click="stopGDTimer()" class="btn-danger btn-sm">Stop</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3" id="leftCol">
			<div class="form-group form-group-sm" id="selectOutpost">
				<label class="col-sm-6 control-label pull-sm-left" for="outpostsSelect">Select outpost</label>
				<div class="col-sm-4 pull-sm-right">
					<select class="input-sm" ng-model="selectedOutpost" name="outpostsSelect" id="outpostsSelect" ng-change="outpostSelected()">
						<option ng-repeat="o in outposts" value="{{o.id}}">{{o.id}}</option>
					</select>
				</div>
			</div>
			<br>
			<div id="outpost" >
				<ul class="list-group" style="list-style:none;">
					<li ng-repeat="op in outpost">Outpost: {{op.id}}
					<ul>
						<li>Status: <span class="pull-xs-right">{{op.status}}</span></li>
						<li>Storage: <span class="pull-xs-right">{{op.stored}}/{{op.storageCapacity}}</span></li>
						<li>Raw Materials</li>
						<ul class="list-group" style="list-style:none;">
							<li class="list-group-item" ng-repeat="item in op.materials">&nbsp;&nbsp;{{item.type}}: <span class="pull-xs-right">{{item.amount}}</span></li>
						</ul>
					</ul>
					</li>
				</ul>
				<!--<ul class="list-group" style="list-style:none;">
					<li ng-repeat="item in outpost.materials">{{item.type}}</li>
				</ul>
				<ul class="list-group" style="list-style:none;">
					<li ng-repeat="proc in outposts.processors">{{proc.rawmaterial}}</li>
				</ul>-->
			</div>
		</div>
		<div class="col-md-7" id="middle">
			<p>Section: 001</p>
		</div>
		<div class="col-md-2" id="rightCol">
			<p>Gather Drones</p>
			<!-- angular list iterator of drones -->
			<div id="gatherDrones" >
			<ul class="list-group" style="list-style:none;">
				<li ng-repeat="drone in gatherdrones" >{{drone.id}}
					<ul class="list-group" style="list-style:none;">
						<li class="list-group-item">Status: <span class="pull-xs-right">{{drone.status}}</span></li>
						<li class="list-group-item">Cargo: <span ng-model="drone.cargo" class="pull-xs-right">{{drone.cargoLoaded}}/{{drone.cargoCapacity}}</span></li>
							<ul class="list-group" style="list-style:none;">
								<li ng-repeat="cargo in drone.cargo" class="list-group-item">&nbsp;&nbsp;{{cargo.type}}: <span ng-model="cargo" class="pull-xs-right">{{cargo.amount}}</span></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			<div>
		</div>
	</div>

</div>    

<!-- build:js scripts/main.js -->
    
<!-- endbuild -->
<!-- build:js scripts/main.js -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/angular/angular.min.js"></script>
    <script src="scripts/galtycooncontroller.js"></script>
<!-- endbuild -->
<script>
	
	
	//var myVar = setInterval(myTimer, 1000);
	var loc=0;
	var dt = new Date();
	$("#theDate").text(dt.toUTCString());
	
	
</script>

</body>
</html>